{% extends "base.html" %}

{% block head %}

    <script type="text/javascript">


    </script>

{% endblock %}

{% block content %}
<h2>{{set.name}}</h2>
<h3>{{set.card_set.count}} Cards</h3>

<table>
	<tr><td>Name</td><td>Count</td><td> </td><td>Foil Count</td><td> </td></tr>
	{% for card in set.card_set.all %}
		<tr>
		<td><a href="/card/{{card.id}}/">{{card.name}}</a> </td>
		<td>{{card.count}} </td>
		<td><a href="/set/{{set.id}}/add/{{card.id}}/"> +1 </a>
		    <a href="/set/{{set.id}}/add/{{card.id}}/2/"> +2 </a>
		    <a href="/set/{{set.id}}/add/{{card.id}}/3/"> +3 </a>
		    <a href="/set/{{set.id}}/add/{{card.id}}/4/"> +4 </a>
		{% if card.count > 0 %}
		    /
		    <a href="/set/{{set.id}}/subtract/{{card.id}}/"> -1 </a>
		    <a href="/set/{{set.id}}/subtract/{{card.id}}/2/"> -2 </a>
		    <a href="/set/{{set.id}}/subtract/{{card.id}}/3/"> -3 </a>
		    <a href="/set/{{set.id}}/subtract/{{card.id}}/4/"> -4 </a>
		{% endif %}
		</td>
		<td>{{card.foil_count}}</td>
		<td><a href="/set/{{set.id}}/addfoil/{{card.id}}/"> +1 </a>
		    <a href="/set/{{set.id}}/addfoil/{{card.id}}/2/"> +2 </a>
		    <a href="/set/{{set.id}}/addfoil/{{card.id}}/3/"> +3 </a>
		    <a href="/set/{{set.id}}/addfoil/{{card.id}}/4/"> +4 </a>
		{% if card.foil_count > 0 %}
		    /
		    <a href="/set/{{set.id}}/subtractfoil/{{card.id}}/"> -1 </a>
		    <a href="/set/{{set.id}}/subtractfoil/{{card.id}}/2/"> -2 </a>
		    <a href="/set/{{set.id}}/subtractfoil/{{card.id}}/3/"> -3 </a>
		    <a href="/set/{{set.id}}/subtractfoil/{{card.id}}/4/"> -4 </a>
		{% endif %}
		</td>
		</tr>
	{% endfor %}
</table>
<form action="/set/{{set.id}}/import/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<input id="set_file" name="set_file" type='file' />
	<button type="submit" id="import_list">Import List</button>
</form>

{% endblock %}