{% extends "base.html" %}

{% block head %}

    <script type="text/javascript">


    </script>

{% endblock %}

{% block content %}
<h2>{{set.name}}</h2>
<h3>{{set.card_set.count}} Cards</h3>

<div><a href="/set/{{set.id}}/buylist/" target="_blank">View Buylist</a></div>

<table>
	<tr><td>Name</td><td>Count</td><td> </td><td>Foil Count</td><td> </td><td> </td></tr>
	{% for card in set.card_set.all %}
		<tr>
		<td><a class="{{card.rarity}}" href="/card/{{card.id}}/" target="_blank">{{card.name}}</a> </td>
		<td>{{card.count}} </td>
		<td><a href="/card/{{card.id}}/add/"> +1 </a>
		    <a href="/card/{{card.id}}/add/2/"> +2 </a>
		    <a href="/card/{{card.id}}/add/3/"> +3 </a>
		    <a href="/card/{{card.id}}/add/4/"> +4 </a>
		{% if card.count > 0 %}
		    /
		    <a href="/card/{{card.id}}/subtract/"> -1 </a>
		    <a href="/card/{{card.id}}/subtract/2/"> -2 </a>
		    <a href="/card/{{card.id}}/subtract/3/"> -3 </a>
		    <a href="/card/{{card.id}}/subtract/4/"> -4 </a>
		{% endif %}
		</td>
		<td>{{card.foil_count}}</td>
		<td><a href="/card/{{card.id}}/addfoil/"> +1 </a>
		    <a href="/card/{{card.id}}/addfoil/2/"> +2 </a>
		    <a href="/card/{{card.id}}/addfoil/3/"> +3 </a>
		    <a href="/card/{{card.id}}/addfoil/4/"> +4 </a>
		{% if card.foil_count > 0 %}
		    /
		    <a href="/card/{{card.id}}/subtractfoil/"> -1 </a>
		    <a href="/card/{{card.id}}/subtractfoil/2/"> -2 </a>
		    <a href="/card/{{card.id}}/subtractfoil/3/"> -3 </a>
		    <a href="/card/{{card.id}}/subtractfoil/4/"> -4 </a>
		{% endif %}
		</td>
		<td><a href="/card/{{card.id}}/create_alt/">Add Alt</a></td>
		</tr>

		{% if card.alternateartcard_set.count > 0 %}
			{% for card in card.alternateartcard_set.all %}
				<tr>
					<td>Alternate Art: {{card.notes}}</td>
					<td>{{card.count}}</td>
					<td><a href="/card/{{card.id}}/addalt/"> +1 </a>
						<a href="/card/{{card.id}}/addalt/2/"> +2 </a>
						<a href="/card/{{card.id}}/addalt/3/"> +3 </a>
						<a href="/card/{{card.id}}/addalt/4/"> +4 </a>
					{% if card.count > 0 %}
						/
						<a href="/card/{{card.id}}/subtractalt/"> -1 </a>
						<a href="/card/{{card.id}}/subtractalt/2/"> -2 </a>
						<a href="/card/{{card.id}}/subtractalt/3/"> -3 </a>
						<a href="/card/{{card.id}}/subtractalt/4/"> -4 </a>
					{% endif %}
					</td>
					<td>{{card.foil_count}}</td>
					<td><a href="/card/{{card.id}}/addaltfoil/"> +1 </a>
						<a href="/card/{{card.id}}/aaddaltfoil/2/"> +2 </a>
						<a href="/card/{{card.id}}/addaltfoil/3/"> +3 </a>
						<a href="/card/{{card.id}}/addaltfoil/4/"> +4 </a>
					{% if card.foil_count > 0 %}
						/
						<a href="/card/{{card.id}}/subtractaltfoil/"> -1 </a>
						<a href="/card/{{card.id}}/subtractaltfoil/2/"> -2 </a>
						<a href="/card/{{card.id}}/subtractaltfoil/3/"> -3 </a>
						<a href="/card/{{card.id}}/subtractaltfoil/4/"> -4 </a>
					{% endif %}
					</td>
					<td><a href="/alt/{{card.id}}/delete/">Delete Alt</a></td>
				</tr>
			{% endfor %}
		{% endif %}
	{% endfor %}
</table>
<form action="/set/{{set.id}}/import/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<input id="set_file" name="set_file" type='file' />
	<button type="submit" id="import_list">Import List</button>
</form>

{% endblock %}