{% extends "base.html" %}

{% block head %}

    <script type="text/javascript">
        $().ready(function() {
            $("#add_new_set").click(function() {
                var name = $("#new_set_name")[0].value;
                var block = $("#new_set_block")[0].value;
                if (name && name != "") {
                    $.ajax({
                    	url: '/set/add/',
                    	type: 'POST',
                    	data: {name: name, block: block},
						success: function(msg){
						 	window.location = "/";
						}

                    });
                }
            });
        });


    </script>

{% endblock %}


{% block content %}

    {% for set in sets %}
    	<div><a href="/set/{{set.id}}">{% if set.block %}{{set.block}} - {% endif %}{{set.name}}</a></div>
    {% endfor %}



	<div style="padding-top:20px;">
		Name <input id="new_set_name" /> <br/>
	    Block <input id="new_set_block" /><br/>
	    <button id="add_new_set">Add New Set</button>
	</div>

{% endblock %}