{% extends "base.html" %}

{% block head %}

    <script type="text/javascript">
        $().ready(function() {
            $("#search_name").click(function() {
            	var name = $("#card_name")[0].value;
            	if (name && name != "") {
                    location="/search/?s=" + name;
            	}
            });

            $("#add_new_set").click(function() {
                var name = $("#new_set_name")[0].value;
                var block = $("#new_set_block")[0].value;
                if (name && name != "") {
                    $.ajax({
                    	url: '/set/add/',
                    	type: 'POST',
                    	data: {name: name, block: block},
						success: function(msg){
						 	window.location = "/";
						}

                    });
                }
            });

        });


    </script>

{% endblock %}


{% block content %}

	<div>
		Card Search: <input id="card_name" /> <button id="search_name">Search</button>
	</div>

    {% for set in sets %}
    	<div>{% if set.icon %}<div style="display:inline-block;width:45px;"><img src='{{set.icon.url}}'/></div>{% endif %}<a href="/set/{{set.id}}">{% if set.block %}{{set.block}} - {% endif %}{{set.name}}</a></div>
    {% endfor %}



	<div style="padding-top:20px;">
		Name <input id="new_set_name" /> <br/>
	    Block <input id="new_set_block" /><br/>
	    <button id="add_new_set">Add New Set</button>
	</div>

{% endblock %}