.center {
	text-align:center;
}

/*==========================
/  Set List
*/

.content {
	position:relative; 
	width:750px; 
	margin-right:auto;
	margin-left:auto;
}

.sort {
	margin-bottom:10px;
	padding-bottom:5px; 
	border-bottom:1px solid black
}

.set-list {
	width:380px;
}

.set {
	line-height:30px;
}

.set-icon {
	display:inline-block;
	width:45px;
}

.form {
	padding:10px;
	padding-top:0px;
	border:1px solid black;
}

.form-row {
	padding-top:5px;
}

/*==========================
/  Set
*/

.set {
	position:relative;
	padding-left:20px;
}

.set_tools {
	position:absolute;
	top:0px;
	right:200px; 
	border:1px solid black;
	padding:10px;
	padding-bottom:0px;
	font-weight: bold;
}


.Land, .Common {
    color:black;
}

.Uncommon {
    color:#708090;
}

.Rare {
    color:#FFA500;
}

.Legendary, .Mythic {
    color:#FF4500;
}

#card_table td {
	padding-right:5px;
}

/*==========================
/  Cards
*/
.card {
	position:relative;
	padding-left: 20px;
}

.alternate {
	font-size: 1.2em;
}

.card_tools {
	position:absolute;
	left:300px;
	top:0px;
	padding: 10px;
	border: 1px solid black;
	font-weight:bold;
}

.card_attribute {
	font-weight:bold;
}

/*==========================
/  Forms
*/
form p label {
	display:inline-block;
	width:120px;
	vertical-align:top;
	font-weight: bold;
}

form p input, form p select {
	width: 200px;
}

form p textarea {
	width: 200px;
	height: 60px;
}