/*==========================
/  Set List
*/

.content {
	position:relative; 
	width:750px; 
	margin-right:auto;
	margin-left:auto;
}

.sort {
	margin-bottom:10px;
	padding-bottom:5px; 
	border-bottom:1px solid black
}

.set-list {
	width:380px;
}

.set {
	line-height:30px;
}

.set-icon {
	display:inline-block;
	width:45px;
}

.form {
	padding:10px;
	padding-top:0px;
	border:1px solid black;
}

.form-row {
	padding-top:5px;
}

/*==========================
/  Cards
*/

.Land, .Common {
    color:black;
}

.Uncommon {
    color:#708090;
}

.Rare {
    color:#FFA500;
}

.Legendary, .Mythic {
    color:#FF4500;
}

